# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/
.eggs/
*.egg

# Virtual environments
.venv/
venv/
env/

# Environment
.env
.env.*
!.env.example

# DuckDB & SQLite data files
data/*.duckdb
data/*.db
data/*.parquet
data/raw/
data/processed/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Jupyter
.ipynb_checkpoints/
*.ipynb

universal-ion-437606-b7-5629bd4bc421.json

# Test files and Snapshots
*.jsonl
tes.txt
data/vix/